streamlit
numpy
pandas
langchain
langchain-groq
langchain-community
groq
python-dotenv
requests
beautifulsoup4
playwright
scikit-learn
sentence-transformers
faiss-cpu
pydantic
smolagents
litellm
groq
